<app-header></app-header>
<div class="flex flex-col items-center justify-center mt-20">
    <h2 class="text-2xl font-black text-purple-700">Buscar informações do
        veículo</h2>
    <div class="flex gap-2 mt-4">
        <label for="plate "></label>
        <input id="plate" type="text" [(ngModel)]="placa"
            placeholder="Digite a placa do carro" class="rounded border border-purple-400 focus:border-purple-700 active:border-purple-700 focus-visible:border-2 focus-within:border-purple-700 p-2 hover:border-2 hover:border-purple-700" />
        <button (click)="searchCar()" class="bg-purple-900 text-white p-2 rounded-md">Buscar</button>
    </div>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <div *ngIf="carInfo" class="car-info">
        <h3>Informações do Veículo</h3>
        <p><strong>Marca:</strong> {{ carInfo.marca }}</p>
        <p><strong>Modelo:</strong> {{ carInfo.modelo }}</p>
        <p><strong>Cor:</strong> {{ carInfo.cor }}</p>
        <p><strong>Ano:</strong> {{ carInfo.ano }}</p>
        <p><strong>Município:</strong> {{ carInfo.municipio }}</p>
        <img *ngIf="carInfo.logo" [src]="carInfo.logo" alt="Logo do veículo" />
    </div>
</div>
